!!! 5

%html{:lang => "en"}
  %head
    %title
      ElectroGraph
    %script(type="application/javascript" src="/javascripts/jquery.min.js")
    %script(type="application/javascript" src="/javascripts/highcharts.js")
    %script(type="application/javascript" src="/javascripts/demo.js")
  %body
    %div{id: "demo_container", style: "min-width: 400px; height: 400px; margin: 0 auto"}